{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1>Student List</h1>
    </div>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Fist_name</th>
                <th>Last_name</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add'%}"><button class="btn form-control btn btn-primary">Add Student</button></a>
</div>
</body>
</html>